language: ruby

env:
  global:
    - GHERKIN_RUBY_REPO: https://github.com/cucumber/gherkin-ruby
    - CUCUMBER_MESSAGES_RUBY_REPO: https://github.com/cucumber/cucumber-messages-ruby.git

  matrix:
    include:
      - rvm: ruby-head
      - rvm: 2.6
      - rvm: 2.5
      - rvm: 2.4
      - rvm: 2.3
      - rvm: jruby-9.2.8.0
        env: JRUBY_OPTS="--debug" LC_ALL=en_US.UTF-8 LANG=en_US.UTF-8 LANGUAGE=en_US.UTF-8
    allow_failures:
      - rvm: ruby-head
      # https://github.com/cucumber/cucumber-ruby/issues/1336
      - rvm: jruby-9.2.8.0

  fast_finish: true
