name: Test cucumber-core

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main
  workflow_call:
  schedule:
    - cron: "0 5 * * *"

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ruby: ['3.2', '3.3', '3.4', '3.5']
        include:
          - os: ubuntu-latest
            ruby: jruby
          - os: macos-latest
            ruby: '3.4'
          - os: windows-latest
            ruby: '3.4'

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake
        shell: bash
